.header
  .container
    = link_to "#" do
      .container__name
        Where Snack
    -# %button.navbar-toggler
    -#   %span.navbar-toggler__icon
    .home-list
      %ul.home-list__content
        %li.nav-item
          = link_to "#" do
            .nav-link
              Home
            %span.sr-only
        %li.nav-item
          = link_to "#" do
            .nav-link
              About
            %span.sr-only
        %li.nav-item
          = link_to "#" do
            .nav-link
              Services
            %span.sr-only
        %li.nav-item
          = link_to "#" do
            .nav-link
              Services
            %span.sr-only